<div style="background: url('../public/img/4.jpg')" class="page-holder bg-cover" loading="lazy">
  <nav class="navbar navbar-expand-lg navbar-dark;">
    <a class="navbar-brand" href="/main.html">
      <img src="../public/img/airplane-4-24.png" height="30" width="auto" alt="" loading="lazy">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/reviews">All Reviews <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="/search.html">Search</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="/write_review.html">Write</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container py-5">
    <form class="create-form display-form">
      <h2 class="review-title">Full Review</h2>
      {{!-- Input Review --}}
      <div class="col-sm-12" id="singlePost">
        <div class="col-sm-12">
          <div class="col-sm-12">
            <p>City Name : {{ review.city_name }}</p>
            <p>City Review : {{ review.city_review }}</p>
            <p>Attraction Name : {{ review.hotel_name }}</p>
            <p>Attraction Review : {{ review.hotel_review }}</p>
            {{!-- <button type="submit" class="btn btn-primary btn-lg" id="searchBtn">Submit</button> --}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>